* @shane-thomas-strough
src/components/hero/ @shane-thomas-strough
src/components/how-it-works/ @shane-thomas-strough
src/store/ @shane-thomas-strough
src/config/ @shane-thomas-strough
.github/ @shane-thomas-strough
